
@{
    ViewBag.Title = "Dieta";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
}

<h2>Dieta</h2>

<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil-->
<script src="~/Source/js/ImagenDePerfil.js"></script>