
@{
    ViewBag.Title = "Dietas";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
    Sistema_GGYM.Models.Base_De_Datos.USUARIO usuario = new Sistema_GGYM.Models.Base_De_Datos.USUARIO().ObtenerUsuario((Sistema_GGYM.Models.SessionHelper.GetUser()));
}

<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel-group" id="accordion" role="tablist"
                     aria-multiselectable="true">

                    <!--Lista desplegable de rutinas-->

                    <div class="panel panel-default bx-shadow-none">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="false" aria-controls="collapseOne">
                                    Rutinas Recomendadas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse"
                             role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <div class="row port m-b-20">
                                    <div id="galeria1" class="portfolioContainer">

                                        <!--Lista de imagenes generadas con js-->
                                        <!--Cargar ejercicios-->
                                        <script src="~/Source/js/Dietas.js"></script>
                                        <!--Fin de la lista-->

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
    </div>
</div>

<!--Jquery-->
<script src="~/Source/User/js/jquery.min.js"></script>

<!--Efecto carrusel-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.image-popup').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-fade',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1]
            }
        });
    });
</script>

<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil-->
<script src="~/Source/js/ImagenDePerfil.js"></script>