* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #b8d5e0 50%, #0676a4 50%);
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 30px;
    font-family: 'sans-serif', cursive;
    margin-bottom: 35px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.sabor2 {
    color: #fff;
    margin: 7px 0;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script';
    margin-top: 0;
}

.linea-division {
    width: 50%;
    height: 3px;
    background-color: #0676a4;
}


/***ESTILOS MATERIALIZE***/

.carousel {
    min-height: 600px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 350px;
    height: 550px;
    text-shadow: -2px -2px 1px #fff;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 25px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.carousel .indicators .indicator-item {
    margin: 0 15px;
    background: #000;
}

a {
    color: #fff;
}