
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Source/css/Login/Login.css">
    <link rel="shortcut icon" href="~/Source/images/ggymlogo.png">
    <title>Iniciar Sesion</title>

</head>
<body>
    <div class="vid-container">

        <img src="~/Source/images/dsa-min.jpg" class="bgvid" height="100%"/>

        <div class="inner-container">
            <img src="~/Source/images/dsa-min.jpg" class="bgvid inner" height="100%"/>

            <div class="box">

                <h1>Login</h1>
                <input type="text" placeholder="Email" />
                <input type="text" placeholder="Contraseña" />
                <button>Iniciar Sesion</button>
                <p>No eres miembro? <span>Registrarse</span></p>

            </div>
        </div>
    </div>

    <!--Login-->
    <script src='~/Source/js/jquery.js'></script>
    <script src="~/Source/Login/ini.js"></script>
    <script src="~/Source/Login/jquery.form.js"></script>
    <script src="~/Source/Login/jquery.validate.min.js"></script>
    <script src="~/Source/Login/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Source/js/bootstrap.js"></script>
</body>
</html>
