
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Source/css/Login/Login.css">
    <link rel="shortcut icon" href="~/Source/images/ggymlogo.png">
    <title>Iniciar Sesion</title>

    <!--JQUERY-->
    <script src="~/Source/js/jquery.js"></script>

    <!--Login-->
    <script src="~/Source/Login/ini.js"></script>
    <script src="~/Source/Login/jquery.form.js"></script>
    <script src="~/Source/Login/jquery.validate.min.js"></script>
    <script src="~/Source/Login/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Source/js/bootstrap.js"></script>

</head>
<body>
    <div class="vid-container">

        <img src="~/Source/images/dsa-min.jpg" class="bgvid" height="100%" />

        <div class="inner-container">
            <img src="~/Source/images/dsa-min.jpg" class="bgvid inner" height="100%" />

            <div class="box">

                @using (Html.BeginForm("IniciarSesion", "Login", FormMethod.Post, new { @class = "user" }))
                {
                    <h1>Login</h1>
                    <input type="text" name="Email" placeholder="Email" />
                    <input type="text" name="Contraseña" placeholder="Contraseña" />
                    <button>Iniciar Sesion</button>
                    <p>No eres miembro? <span><a>Registrarse</a></span></p>
                }
            </div>
        </div>
    </div>

    <!--BLUR DEL LOGIN-->
    <script src='~/Source/js/jquery.js'></script>

    

</body>
</html>
