
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Source/images/ggymlogo.png">

    <title>Login</title>


    <!-- CSS -->
    <link href="~/Source/User/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/User/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/User/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/User/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/User/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/User/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Source/User/css/menu.css" rel="stylesheet" type="text/css" />
    <script src="~/Source/User/js/modernizr.min.js"></script>

    <!-- Notification css (Toastr) -->
    <link href="~/Source/User/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/Source/css/Login/Login.css">

</head>
<body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="text-center">
            <a href="~/Default/Index" class="logo"><span>GG<span>YM</span></span></a>
            <h5 class="text-white m-t-0 font-600">Formulario de Inicio de sesion</h5>
        </div>

        <div class="m-t-40 cajita card-box">            

            <div class="text-center">
                <h4 class="text-uppercase text-white font-bold m-b-0">Login</h4>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("Validar", "Login", FormMethod.Post, new { @class = "form-horizontal m-t-20" }))
                {
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control btn-rounded" name="Email" type="text" required="" placeholder="Correo">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control btn-rounded" name="Contraseña" type="password" required="" placeholder="Contraseña">
                        </div>
                    </div>

                    <div class="form-group text-center m-t-30">
                        <div class="col-xs-12">
                            <button  data-ajax="true" class="btn btn-custom btn-trans btn-rounded btn-block waves-effect waves-light" type="submit">Iniciar Sesion</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30 m-b-0">
                        <div class="col-sm-12">
                            <a href="~/Login/Recuperar" class="text-white"><i class="fa fa-lock m-r-5"></i> ¿Olvido su contraseña?</a>
                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-white">¿No eres miembro? <a href="~/Login/FormRegistro" class="text-primary m-l-5"><b>Registrate</b></a></p>
            </div>
        </div>

    </div>

    <!-- jQuery  -->
    <script src="~/Source/User/js/jquery.min.js"></script>
    <script src="~/Source/User/js/bootstrap.min.js"></script>
    <script src="~/Source/User/js/detect.js"></script>
    <script src="~/Source/User/js/fastclick.js"></script>
    <script src="~/Source/User/js/jquery.slimscroll.js"></script>
    <script src="~/Source/User/js/jquery.blockUI.js"></script>
    <script src="~/Source/User/js/waves.js"></script>
    <script src="~/Source/User/js/wow.min.js"></script>
    <script src="~/Source/User/js/jquery.nicescroll.js"></script>
    <script src="~/Source/User/js/jquery.scrollTo.min.js"></script>

    <script src="~/Source/js/Login/bootstrap.min.js"></script>

    <!--ResponseModel-->
    <script src="~/Source/js/Login/ini.js"></script>
    <script src="~/Source/js/Login/jquery.form.js"></script>
    <script src="~/Source/js/Login/jquery.validate.min.js"></script>
    <script src="~/Source/js/Login/jquery.validate.unobtrusive.min.js"></script>

    <!-- App js -->
    <script src="~/Source/User/js/jquery.core.js"></script>
    <script src="~/Source/User/js/jquery.app.js"></script>

    <!-- Toastr js -->
    <script src="~/Source/User/plugins/toastr/toastr.min.js"></script>

</body>


</html>