
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
}

<div class="content">
    <div class="container">


        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="card-box">

                    <h4 class="header-title m-t-0">Usuarios</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2">
                            <span class="badge badge-custom pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                            <h2 class="m-b-0"> 9 </h2>
                            <p class="text-muted m-b-25">Registrados</p>
                        </div>
                        <div class="progress progress-bar-custom-alt progress-sm m-b-0">
                            <div class="progress-bar progress-bar-custom" role="progressbar"
                                 aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 77%;">
                                <span class="sr-only">77% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card-box">

                    <h4 class="header-title m-t-0">Productos</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2">
                            <span class="badge badge-success pull-left m-t-20">56% <i class="zmdi zmdi-trending-up"></i> </span>
                            <h2 class="m-b-0"> 3 </h2>
                            <p class="text-muted m-b-25">Registrados</p>
                        </div>
                        <div class="progress progress-bar-success-alt progress-sm m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 56%;">
                                <span class="sr-only">56% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card-box">

                    <h4 class="header-title m-t-0">Membresias</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2">
                            <span class="badge badge-warning pull-left m-t-20">36% <i class="zmdi zmdi-trending-up"></i> </span>
                            <h2 class="m-b-0"> 3 </h2>
                            <p class="text-muted m-b-25">Registrados</p>
                        </div>
                        <div class="progress progress-bar-warning-alt progress-sm m-b-0">
                            <div class="progress-bar progress-bar-warning" role="progressbar"
                                 aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 36%;">
                                <span class="sr-only">36% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card-box">

                    <h4 class="header-title m-t-0">Horarios</h4>

                    <div class="widget-box-2">
                        <div class="widget-detail-2">
                            <span class="badge badge-pink pull-left m-t-20">89% <i class="zmdi zmdi-trending-up"></i> </span>
                            <h2 class="m-b-0"> 3 </h2>
                            <p class="text-muted m-b-25">Registrados</p>
                        </div>
                        <div class="progress progress-bar-pink-alt progress-sm m-b-0">
                            <div class="progress-bar progress-bar-pink" role="progressbar"
                                 aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 89%;">
                                <span class="sr-only">89% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">

                    <h4 class="header-title m-t-0">Membresias vendidas</h4>

                    <div class="widget-chart text-center">
                        <div id="morris-donut-example" style="height: 245px;"></div>
                        <ul class="list-inline chart-detail-list m-b-0">
                            <li>
                                <h5 style="color: #ff8acc;"><i class="fa fa-circle m-r-5"></i>Series A</h5>
                            </li>
                            <li>
                                <h5 style="color: #5b69bc;"><i class="fa fa-circle m-r-5"></i>Series B</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Horarios frecuentes</h4>
                    <div id="morris-bar-example" style="height: 280px;"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Total de ventas</h4>
                    <div id="morris-line-example" style="height: 280px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil-->
<script src="~/Source/js/ImagenDePerfil.js"></script>

<!-- jQuery  -->
<script src="~/Source/User/js/jquery.min.js"></script>
<script src="~/Source/User/js/bootstrap.min.js"></script>
<script src="~/Source/User/js/detect.js"></script>
<script src="~/Source/User/js/fastclick.js"></script>
<script src="~/Source/User/js/jquery.slimscroll.js"></script>
<script src="~/Source/User/js/jquery.blockUI.js"></script>
<script src="~/Source/User/js/waves.js"></script>
<script src="~/Source/User/js/jquery.nicescroll.js"></script>
<script src="~/Source/User/js/jquery.scrollTo.min.js"></script>
<script src="~/Source/User/plugins/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<script src="~/Source/User/plugins/morris/morris.min.js"></script>
<script src="~/Source/User/plugins/raphael/raphael-min.js"></script>

<!-- Dashboard init -->
<script src="~/Source/User/pages/jquery.dashboard.js"></script>