
@{
    ViewBag.Title = "Ejercicio";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
    Sistema_GGYM.Models.Base_De_Datos.USUARIO usuario = new Sistema_GGYM.Models.Base_De_Datos.USUARIO().ObtenerUsuario((Sistema_GGYM.Models.SessionHelper.GetUser()));

    Sistema_GGYM.Models.Base_De_Datos.IMC Imc = ViewBag.imc;
    List<Sistema_GGYM.Models.Base_De_Datos.VIDEO> Videos = ViewBag.video;

}

<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel-group" id="accordion" role="tablist"
                     aria-multiselectable="true">

                    <!--Lista desplegable de rutinas-->

                    <div class="panel panel-default bx-shadow-none">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="false" aria-controls="collapseOne">
                                    Rutinas Recomendadas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in"
                             role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <div class="row port m-b-20">
                                    <div id="galeria1" class="portfolioContainer">

                                        <!--Lista de imagenes generadas con js-->
                                        <!--Cargar ejercicios-->
                                        <script src="~/Source/js/Ejercicios.js"></script>
                                        <!--Fin de la lista-->

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!--Lista desplegable de videos recomendados de los entrenadores-->

                    @if (usuario.ID_TIPOUSUARIO == 2)
                    {
                        <div class="panel panel-default bx-shadow-none">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">
                                        Videos recomendados
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse"
                                 role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">

                                    <div class="row port m-b-20">
                                        <div id="galeria2" class="portfolioContainer">

                                            <!--Lista de videos de la bd-->
                                            <!--Cargar videos de los entrenadores recomendados-->

                                            @if (Videos.Count > 0)
                                            {
                                                foreach (var video in Videos)
                                                {
                                                    //aca el criterio del video seria un numero para el imc
                                                    //pero para esta solucion sera estatico
                                                    //cuando lo hagas daniel, coloca un if segun el imc
                                                    //el imc ya lo obtengo

                                                    <div class="col-sm-6 col-lg-6 col-md-6">
                                                        <div class="gal-detail thumb" style="box-shadow: 2px 2px 5px #999;">
                                                            <p class="u-text-black m-b-10" style="text-align: center">@video.TITULO</p>

                                                            <!--cargando el iframe / la url solo es el id del video-->
                                                            <iframe class="thumb-img" width="560" height="315" src="https://www.youtube.com/embed/@(video.URL)" frameborder="0"></iframe>
                                                            <p class="text-muted" style="text-align: center">@video.DESCRIPCION</p>
                                                        </div>
                                                    </div>

                                                    //validando si el imc no es nulo
                                                    /*if (Imc != null)
                                                    {
                                                        //if para el criterio
                                                        if (Convert.ToDouble(video.CRITERIO) >= Convert.ToDouble(Imc.IMC1))
                                                        {
                                                            //carga los datos
                                                            //recuerda que ya esta el foreach, solo dar la forma
                                                        }

                                                        //en este caso es estatico / luego lo borras

                                                    }*/
                                                }
                                            }
                                            else
                                            {
                                                <h2>No tenemos videos en estos momentos</h2>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<!--Jquery-->
<script src="~/Source/User/js/jquery.min.js"></script>

<!--Efecto carrusel-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.image-popup').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-fade',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1]
            }
        });
    });
</script>

<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil-->
<script src="~/Source/js/ImagenDePerfil.js"></script>