
@{
    ViewBag.Title = "Ejercicio";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
    Sistema_GGYM.Models.Base_De_Datos.USUARIO usuario = new Sistema_GGYM.Models.Base_De_Datos.USUARIO().ObtenerUsuario((Sistema_GGYM.Models.SessionHelper.GetUser()));
}

<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel-group" id="accordion" role="tablist"
                     aria-multiselectable="true">

                    <!--Lista desplegable de rutinas-->

                    <div class="panel panel-default bx-shadow-none">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="false" aria-controls="collapseOne">
                                    Rutinas Recomendadas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in"
                             role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <div class="row port m-b-20">
                                    <div id="galeria1" class="portfolioContainer">

                                        <!--Lista de imagenes generadas con js-->
                                        <!--Cargar ejercicios-->
                                        <script src="~/Source/js/Ejercicios.js"></script>
                                        <!--Fin de la lista-->

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!--Lista desplegable de videos recomendados de los entrenadores-->

                    @if (usuario.ID_TIPOUSUARIO == 2)
                    {
                        <div class="panel panel-default bx-shadow-none">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">
                                        Videos recomendados
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse"
                                 role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">

                                    <div class="row port m-b-20">
                                        <div id="galeria2" class="portfolioContainer">

                                            <!--Lista de videos generadas con js-->
                                            <!--Cargar videos de los entrenadores-->
                                            <script src="~/Source/js/Videos.js"></script>
                                            <!--Fin de la lista-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                    <!--Lista desplegable de otras cosas-->

                    <div class="panel panel-default bx-shadow-none">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    Otras cosas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse"
                             role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-box">
                                            <div class="dropdown pull-right">
                                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="zmdi zmdi-more-vert"></i>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </div>

                                            <h4 class="header-title m-t-0 m-b-30">Markers</h4>

                                            <div id="gmaps-markers" class="gmaps"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div><!-- end col -->
        </div>
    </div>
</div>

<!--Jquery-->
<script src="~/Source/User/js/jquery.min.js"></script>

<!--Efecto carrusel-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.image-popup').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-fade',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1]
            }
        });
    });
</script>

<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil-->
<script src="~/Source/js/ImagenDePerfil.js"></script>