
@{
    ViewBag.Title = "Videollamada";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
    Sistema_GGYM.Models.Base_De_Datos.USUARIO usuario = new Sistema_GGYM.Models.Base_De_Datos.USUARIO().ObtenerUsuario((Sistema_GGYM.Models.SessionHelper.GetUser()));
}

<link href="~/Source/css/Videollamada/video.css" rel="stylesheet" />

<div class="content">
    <div class="container">


        <!--LOGICA DE LA VIDEOLLAMADA-->
        <!--LOGICA USUARIO PREMIUM-->
        @if (usuario.ID_TIPOUSUARIO == 2)
        {

            <div class="m-0 row justify-content-center" style="border-radius: 20px;">

                <div class="col-auto text-center" style="height: 650px; border-radius: 20px;">

                    <iframe allow="camera; microphone; fullscreen; display-capture; autoplay" src="https://jitsimeet-ggym.herokuapp.com/public_html/" style="height: 100%; width: 100%; border: 0px;  border-radius: 20px;"></iframe>

                </div>
            </div>
            

        }

        <!--LOGICA ENTRENADOR-->
        @if (usuario.ID_TIPOUSUARIO == 3)
        {
            <div class="m-0 row justify-content-center" style="border-radius: 20px;">

                <div class="col-auto text-center" style="height: 650px; border-radius: 20px;">

                    <iframe allow="camera; microphone; fullscreen; display-capture; autoplay" src="https://jitsimeet-ggym.herokuapp.com/public_html/" style="height: 100%; width: 100%; border: 0px;  border-radius: 20px;"></iframe>

                </div>
            </div>

        }
        <br />

    </div>
</div>
<!--Efecto de seleccion-->
<script src="~/Source/js/Indices.js"></script>

<!--Lectura imagenes de perfil y logica de generacion del identificador de la llamada-->
<script src="~/Source/js/ImagenDePerfil.js"></script>